.wrapper {
  width: 100%;
  height: 50px;
  background-color: #1e222d;
  border-top: 1px solid #31353e;
  border-bottom: 1px solid #31353e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.wrapper:last-child {
  border-bottom: none;
}
